<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="IE=edge, width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Authentication forms">
    <meta name="author" content="Arasari Studio">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <title>
        {{param.general ? param.general.societe : 'GESTIMMO'}} | {% block title %} Connexion {% endblock %}
    </title>
    {% if param.general and param.general.logoName %}
        <link rel="shortcut icon" type="image/x-icon" href="{{vich_uploader_asset(param.general, 'logoFile') }}">
    {% endif %}
</head>

<body class="login">
    <main role="main" class="container">
        <img alt="" class="wave" src="{{ asset('asset/img/wave.png') }}">
        {% block body %}{% endblock %}
    </main>
    
    <script type="text/javascript" src="{{ asset('asset/js/main.js') }}"></script>
</body>
</html>