{% extends "security/layout.html.twig" %}

{% block title %} Connexion {% endblock %}

{% block body %}
    <div class="container">
        <div class="img">
            <img src="{{ asset('asset/img/bg.svg') }}" alt="">
        </div>
        <div class="login-content">
            {% for message in app.flashes('success') %}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <small>{{ message }}</small>
                </div>
            {% endfor %}
            <form  method="post" >
                <img src="{{ asset('asset/img/avatar.svg') }}" alt="">
                <h2 class="title">BIENVENUE</h2>
                {% if error and error.messageKey != "Invalid credentials." %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>{{ error.messageKey|trans(error.messageData, 'security') }} </strong>
                    </div>
                {% elseif error and error.messageKey == "Invalid credentials." %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% else %}
                {% endif %}
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <label for="username"></label><input alt="" id="username" class=" {% if error and error.messageKey != "Invalid credentials." %}is-invalid{% endif %} input" name="username" type="text" required >
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <label for="password"></label><input id="password" class="{% if error and error.messageKey == "Invalid credentials." %}is-invalid{% endif %} input" name="password" type="password" required></div>
                </div>
                <a href="#">Forgot Password?</a>
                <label for="_remember_me" name ="_remember_me" id="_remember_me">
                    Garder ma session active
                </label>

                <input type="submit" class="btn" value="Se Connecter">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    </div>
{% endblock %}