<div class="row">
    <div class="col-md-6">{{ form_row(form.libelle) }}</div>
    <div class="col-md-6">{{ form_row(form.direction) }}</div>
    <div class="col-md-6">{{ form_row(form.chef) }}</div>
    <div class="col-md-6">{{ form_row(form.description) }}</div>
</div>