{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_user') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('service_index') }}">Liste des services</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1> {{service.libelle}} - {{service.code}}</h1>
                    <h2>
                        <a href="{{ path('service_edit', {'id': service.id}) }}" class="btn btn-info">
                            Modifier <i data-feather="edit"></i>
                        </a>
                        {{ include('service/_delete_form.html.twig') }}
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div align="right">
        <a href="{{ path('service_index') }}" class="btn btn-warning text-white" data-tooltip
         data-placement="top" title="Retour">
            <i data-feather="arrow-left-circle"></i> Retour 
        </a>
    </div>

    <div class="container mt-2">
        <div class="tab-content" id="pills-tabContent">
            <div class="row">
                <div class="col-md">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold">Code</td>
                            <td>{{service.code}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Libellé</td>
                            <td>{{service.libelle}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Direction</td>
                            <td>{{service.direction}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Description</td>
                            <td>{{service.description}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold">Crée le</td>
                            <td>
                                {{ service.createdAt ?
                                    service.createdAt|date("d M Y hh:mm") : ''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Modifié le</td>
                            <td>
                                {{ service.updatedAt ?
                                    service.updatedAt|date("d M Y hh:mm") : ''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Crée par</td>
                            <td>{{ service.userCreate ? service.userCreate.__toString : ''}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Modifié par</td>
                            <td>{{ service.userUpdate ? service.userUpdate.__toString : ''}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
