<div class="form-group row">
    <label for="{{ form.nom.vars.id }}" class="col-sm-3 text-right">
        Nom et prénoms <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.nom) }}
        <div class="form-error">{{ form_errors(form.nom) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.contact.vars.id }}" class="col-sm-3 text-right">
        Contact <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.contact) }}
        <div class="form-error">{{ form_errors(form.contact) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.adresse.vars.id }}" class="col-sm-3 text-right">
        Adresse
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.adresse) }}
        <div class="form-error">{{ form_errors(form.adresse) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.domicile.vars.id }}" class="col-sm-3 text-right">
        Domicilié à
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.domicile) }}
        <div class="form-error">{{ form_errors(form.domicile) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.portefeuil.vars.id }}" class="col-sm-3 text-right">
        Portefeuil en charge
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.portefeuil) }}
        <div class="form-error">{{ form_errors(form.portefeuil) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.entreprise.vars.id }}" class="col-sm-3 text-right">
        Travail pour le compte ?
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.entreprise) }}
        <div class="form-error">{{ form_errors(form.entreprise) }}</div>
    </div>
</div>
