{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_parametre') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('sgi_index') }}">Liste des SGI</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1> {{sgi.nom}}</h1>
                    <h2> {{sgi.contact}} <i data-feather="phone"></i>
                        <a href="{{ path('sgi_edit', {'id': sgi.id}) }}" class="btn btn-info">
                            Modifier <i data-feather="edit"></i>
                        </a>
                        {{ include('sgi/_delete_form.html.twig') }}
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div align="right">
        <a href="{{ path('sgi_index') }}" class="btn btn-warning text-white" data-tooltip
         data-placement="top" title="Retour">
            <i data-feather="arrow-left-circle"></i> Retour 
        </a>
    </div>

    <div class="container mt-2">
        <div class="tab-content" id="pills-tabContent">
            <div class="row">
                <div class="col-md">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold">Nom et prénoms</td>
                            <td>{{sgi.nom}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Contact</td>
                            <td>{{sgi.contact}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Domicilié à</td>
                            <td>{{sgi.domicile}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Adresse</td>
                            <td>{{sgi.adresse}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Travail pour le compte ?</td>
                            <td>{{sgi.entreprise}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold">Portefeuil en charge</td>
                            <td>{{sgi.portefeuil}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Crée le</td>
                            <td>
                                {{ sgi.createdAt ?
                                    sgi.createdAt|date("d M Y hh:mm") : ''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Modifié le</td>
                            <td>
                                {{ sgi.updatedAt ?
                                    sgi.updatedAt|date("d M Y hh:mm") : ''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Crée par</td>
                            <td>{{ sgi.createBy ? sgi.createBy.__toString : ''}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Modifié par</td>
                            <td>{{ sgi.updateBy ? sgi.updateBy.__toString : ''}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
