<div class="row">
    <div class="col-md-3">{{ form_row(form.societe) }}</div>
    <div class="col-md-3">{{ form_row(form.siege) }}</div>
    <div class="col-md-3">{{ form_row(form.contact) }}</div>
    <div class="col-md-3">{{ form_row(form.email) }}</div>
    <div class="col-md-3">{{ form_row(form.adresse) }}</div>
    <div class="col-md-3">{{ form_row(form.directeur) }}</div>
    <div class="col-md-3">
        {% do form.logoFile.setRendered() %} <input type="file" id="{{ form.logoFile.vars.id }}"
            name="{{form.logoFile.vars.full_name}}" is="drop-files" label="Déposez votre logo ici"
            help="Seul une est autorisé jpeg/png">
        <div class="form-error">
            {{ form_errors(form.logoFile) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">{{ form_row(form.hautPage) }}</div>
    <div class="col-md-6">{{ form_row(form.piedsPage) }}</div>                            
</div>
<h4>
    <span class="badge badge-{{param.theme}}" style="width: 100%">
        PARAMETRE SUPPLEMENTAIRES
    </span>
</h4>
<div class="row">
    <div class="col-md-4">{{ form_row(form.monnaie) }}</div>
    <div class="col-md-4">{{ form_row(form.theme) }}</div>
</div>