<div class="col-md-3">
    <div class="card border-{{param.theme}}">
        <div class="card-body">
            <h5 class="card-title" align="center">Paramètres <i data-feather="tool"></i></h5>
            <div class="sidebar">
                <div class="list-group">
                    <a href="{{ path('parametre_new') }}" class="btn-sm btn btn-{% if route == 'parametre_new' %}outline-{% endif %}{{param.theme}} alignmenu">
                        <i data-feather="tool"></i> Générale
                    </a>
                </div>        
            </div>        
        </div>
    </div>
    <div class="card border-{{param.theme}} mt-2">
        <div class="card-body">
            <h5 class="card-title" align="center">SGI <i data-feather="user"></i></h5>
            <div class="sidebar">
                <div class="list-group">
                    <a href="{{ path('sgi_new') }}" class="btn-sm btn btn-{% if route == 'sgi_new' %}outline-{% endif %}{{param.theme}} alignmenu">
                        <i data-feather="plus-circle"></i> Ajouter un SGI
                    </a>
                    <a href="{{ path('sgi_index') }}" class="btn-sm btn btn-{% if route == 'sgi_index' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="list"></i> Liste des SGI
                    </a>
                </div>        
            </div>        
        </div>
    </div>
    <div class="card border-{{param.theme}} mt-2">
        <div class="card-body">
            <h5 class="card-title" align="center">Année <i data-feather="calendar"></i></h5>
            <div class="sidebar">
                <div class="list-group">                
                    <a href="{{ path('annee_new') }}" class="btn-sm btn btn-{% if route == 'annee_new' %}outline-{% endif %}{{param.theme}} alignmenu">
                        <i data-feather="plus-circle"></i> Ajouter une année
                    </a>
                    <a href="{{ path('annee_index') }}" class="btn-sm btn btn-{% if route == 'annee_index' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="list"></i> Liste des années
                    </a>
                </div>        
            </div>        
        </div>
    </div>
    <div class="card border-{{param.theme}} mt-2">
        <div class="card-body">
            <h5 class="card-title" align="center">Emetteur <i data-feather="user"></i></h5>
            <div class="sidebar">
                <div class="list-group">                
                    <a href="{{ path('emetteur_new') }}" class="btn-sm btn btn-{% if route == 'emetteur_new' %}outline-{% endif %}{{param.theme}} alignmenu">
                        <i data-feather="plus-circle"></i> Ajouter un emetteur
                    </a>
                    <a href="{{ path('emetteur_index') }}" class="btn-sm btn btn-{% if route == 'emetteur_index' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="list"></i> Liste des emetteurs
                    </a>
                </div>        
            </div>        
        </div>
    </div>
</div>
