{% extends 'base.html.twig' %}

{% block title 'Tableau de bord' %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <i data-feather="pie-chart"></i> Tableau de bord
            </li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row mt-2">
        {{ include('parametre/_menu.html.twig') }}
        
        <div class="col-md-9">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <div class="card border-{{param.theme}}">
                <h4 class="card-header text-center">Générale</h4>
                <div class="card-body">
                    <div class="d-flex align-items mb-3">
                        <div class="col">
                            <span class="font-weight-bold">Raison sociale :</span> {{param.general ? param.general.societe : null}}
                        </div>
                        <div class="col">
                            <span class="font-weight-bold">Siège sociale :</span> {{param.general ? param.general.siege : null}}
                        </div>
                        <div class="col">
                            <span class="font-weight-bold">Contact :</span> {{param.general ? param.general.contact : null}}
                        </div>
                    </div>
                    <div class="d-flex align-items mb-3">
                        <div class="col">
                            <span class="font-weight-bold">E-mail :</span> {{param.general ? param.general.email : null}}
                        </div>
                        <div class="col">
                            <span class="font-weight-bold">Adresse postale :</span> {{param.general ? param.general.adresse : null}}
                        </div>
                        <div class="col">
                            <span class="font-weight-bold">Directeur :</span> {{param.general ? param.general.directeur : null}}
                        </div>
                    </div>
                    <div class="d-flex align-items mb-3">
                        <div class="col">
                            <span class="font-weight-bold">Symbole monnétaire :</span> {{param.general ? param.general.monnaie : null}}
                        </div>
                        <div class="col">
                            <span class="font-weight-bold">Thème :</span> 
                            <span class="badge badge-{{param.general ? param.general.theme : param.theme}}" style="width:60%">{{param.general ? param.general.theme : null}}</span> 
                        </div>
                        <div class="col">
                            {% if param.general and param.general.logoName %}
                                <img class="rounded-circle" width="100%" height="140"
                                 src="{{vich_uploader_asset(param.general, 'logoFile')|imagine_filter('thumb') }}"/>                               
                            {% else %}
                                <i class="fa fa-image fa-8x"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex align-items mb-3">
                        <div class="col">
                            <span class="font-weight-bold">Haut de page :</span><br/>
                            {{param.general ? param.general.hautPage: ''}}
                        </div>
                        <div class="col">
                            <span class="font-weight-bold">Pieds de page :</span><br/>
                            {{param.general ? param.general.piedsPage: ''}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}

