<div class="jumbotron">
    <div class="container">
        {{form_start(form)}}
            <div class="form-row align-items-end">
                {% if form.libelle is defined %}
                    <div class="col-md-3">
                        {{form_row(form.libelle)}}
                    </div>
                {% endif %}
                {% if form.dateD is defined %}
                    <div class="col-md-3">
                        {{form_row(form.dateD)}}
                    </div>
                {% endif %}
                {% if form.dateF is defined %}
                    <div class="col-md-3">
                        {{form_row(form.dateF)}}
                    </div>
                {% endif %}
                {% if form.date is defined %}
                    <div class="col-md-3">
                        {{form_row(form.date)}}
                    </div>
                {% endif %}
                {% if form.min is defined %}                
                    <div class="col-md-3">
                        {{form_row(form.min)}}
                    </div>
                {% endif %}
                {% if form.max is defined %}                
                    <div class="col-md-3">
                        {{form_row(form.max)}}
                    </div>
                {% endif %}
                {% if form.max is defined %}                
                    <div class="col-md-3">
                        {{form_row(form.max)}}
                    </div>
                {% endif %}
                {% if form.order is defined %}
                    <div class="col-md-3">
                        {{form_row(form.order)}}
                    </div>
                {% endif %}
                {% if form.limit is defined %}
                    <div class="col-md-3">
                        {{form_row(form.limit)}}
                    </div>
                {% endif %}
            </div>
            <div class="d-flex">
                <div class="mr-auto"></div>
                <div>
                    <button class="btn btn-{{param.theme}}">Filtrer <i data-feather="search"></i></button>
                </div>
            </div>
        {{form_end(form)}}
    </div>
</div>