{% extends 'base.html.twig' %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_user') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row mt-2">

        {{ include('user/_menu.html.twig') }}

        <div class="col-md-9">

            {{ include('default/filtre/filtre.html.twig') }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            
            <div class="card border-{{param.theme}}">
                <div class="card-header text-white bg-{{param.theme}}">
                    <h6>{{title}}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped dataTb">
                            <thead>
                                <tr>
                                    <th data-tooltip title="Libellé" scope="col">
                                        Libellé
                                    </th>
                                    <th data-tooltip title="Route" scope="col">Route</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for route in routes %}
                                    <tr>
                                        <th scope="row">
                                            {{route.description|label({'rounded': true, 'class': ''})}}
                                        </th>
                                        <td>{{route.name}}</td>
                                        <td>
                                            <a href="{{ path('route_edit', {'id': route.id}) }}" class="text-info" data-tooltip data-placement="top" title="Modifier">
                                                <i data-feather="edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}

