<div class="form-group row">
    <label for="{{ form.libelle.vars.id }}" class="col-sm-3 text-right">
        Nom <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.libelle) }}
        <div class="form-error">{{ form_errors(form.libelle) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.emetteur.vars.id }}" class="col-sm-3 text-right">
        Emetteur <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.emetteur) }}
        <div class="form-error">{{ form_errors(form.emetteur) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.date.vars.id }}" class="col-sm-3 text-right">
        Date <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.date) }}
        <div class="form-error">{{ form_errors(form.date) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.duree.vars.id }}" class="col-sm-3 text-right">
        Durée <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.duree) }}
        <div class="form-error">{{ form_errors(form.duree) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.nominal.vars.id }}" class="col-sm-3 text-right">
        Montant nominal <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.nominal) }}
        <div class="form-error">{{ form_errors(form.nominal) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.souscrit.vars.id }}" class="col-sm-3 text-right">
        Nbr d'obligation souscrit <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.souscrit) }}
        <div class="form-error">{{ form_errors(form.souscrit) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.montant.vars.id }}" class="col-sm-3 text-right">
        Montant souscrit <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.montant) }}
        <div class="form-error">{{ form_errors(form.montant) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.interet.vars.id }}" class="col-sm-3 text-right">
        Taux d'intérêt <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.interet) }}
        <div class="form-error">{{ form_errors(form.interet) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.type.vars.id }}" class="col-sm-3 text-right">
        Plan d'amortissement <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.type) }}
        <div class="form-error">{{ form_errors(form.type) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.grace.vars.id }}" class="col-sm-3 text-right">
        Période de grâce <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.grace) }}
        <div class="form-error">{{ form_errors(form.grace) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.nbr.vars.id }}" class="col-sm-3 text-right">
        Nombre de rembousement <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.nbr) }}
        <div class="form-error">{{ form_errors(form.nbr) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.sgi.vars.id }}" class="col-sm-3 text-right">
        SGI concerné <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.sgi) }}
        <div class="form-error">{{ form_errors(form.sgi) }}</div>
    </div>
</div>
