<div class="col-md-3">
    <div class="card border-{{param.theme}}">
        <div class="card-body">
            <h5 class="card-title" align="center">Action <i data-feather="archive"></i></h5>
            <div class="sidebar">
                <div class="list-group">
                    <a href="{{ path('home_action') }}" class="btn-sm btn btn-{% if route == 'home_action' %}outline-{% endif %}{{param.theme}} alignmenu">
                        <i data-feather="pie-chart"></i> Tableau de bord
                    </a>
                    <a href="{{ path('action_new') }}" class="btn-sm btn btn-{% if route == 'action_new' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="plus-circle"></i> Ajouter une action
                    </a>
                    <a href="{{ path('action_index') }}" class="btn-sm btn btn-{% if route == 'action_index' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="list"></i> Liste des actions
                    </a>
                    <a href="#" class="btn-sm btn btn-{% if route == 'action_situation' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="package"></i> Situation
                    </a>
                    <a href="#" class="btn-sm btn btn-{% if route == '#' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="loader"></i> Valorisation
                    </a>
                </div>        
            </div>        
        </div>
    </div>
</div>
