{% extends 'base.html.twig' %}

{% block title %}Edit action{% endblock %}

{% block body %}
    <h1>Edit action</h1>

    {{ include('action/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('action_index') }}">back to list</a>

    {{ include('action/_delete_form.html.twig') }}
{% endblock %}
