<form style="display:inline-block" method="post" action="{{ path('obligation_delete', {'id': obligation.id}) }}"
 onsubmit="return confirm('Êtes vous vraiment sur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ obligation.id) }}">
    <button class="btn btn-danger">Supprimer <i data-feather="trash-2"></i></button>
</form>

