{% for obligation in obligations %}   
    <div class="col-md-6 my-1">
        <a href="{{ path('obligation_show', {'id': obligation.id}) }}" style="text-decoration: none;">
            <div class="card shadow-sm border-{{param.theme}}">
                <div class="card-body">
                    Nom : {{ obligation.libelle }}
                    <h4 class="card-title text-primary">Emetteur : {{ obligation.emetteur.nom }}</h4>
                    <h6 class="card-title text-primary text-muted">  
                        <div class="row">
                            <div class="col-md-6">
                                Nombre d'obligations : {{ obligation.nbr|number_format(0, ' ', ' ') }}
                            </div>
                            <div class="col-md-6">
                                Montant : {{ obligation.montant|number_format(0, ' ', ' ')|
                                    color({'color': 'warning', 'class': 'font-weight-bold', 'content': param.sym}) }}
                            </div>
                        </div> 
                        <div class="row mt-2">
                            <div class="col-md-6 text-primary">
                                Intérêt : {{ obligation.interet }} ({{ obligation.interet * 100 }} %)
                            </div>
                            <div class="col-md-6 text-primary">
                                Durée : {{ obligation.duree }} ans
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                Période de grâce : {{ obligation.grace|date('d-m-Y') }}
                            </div>
                            <div class="col-md-6">
                                Nominal : {{ obligation.nominal }}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md">
                                Type : {{ obligation.typel }}
                            </div>
                        </div>
                    </h6>
                    <div class="float-right">
                        <div class="btn-group">
                            <a href="{{ path('obligation_show', {'id': obligation.id}) }}" class="secondary" data-tooltip data-placement="top" title="Détail">
                                <i data-feather="file-minus"></i>
                            </a>
                            <a class="text-info" href="{{ path('obligation_edit', {'id': obligation.id}) }}" data-tooltip data-placement="left" title="Supprimer">
                                <i data-feather="edit"></i>
                            </a>
                        </div>
                        <small class="text-muted">{{obligation.code}}</small>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endfor %}