<div class="col-md-3">
    <div class="card border-{{param.theme}}">
        <div class="card-body">
            <h5 class="card-title" align="center">Obligation <i data-feather="archive"></i></h5>
            <div class="sidebar">
                <div class="list-group">
                    <a href="{{ path('home_obligation') }}" class="btn-sm btn btn-{% if route == 'home_obligation' %}outline-{% endif %}{{param.theme}} alignmenu">
                        <i data-feather="pie-chart"></i> Tableau de bord
                    </a>
                    <a href="{{ path('obligation_new') }}" class="btn-sm btn btn-{% if route == 'obligation_new' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="plus-circle"></i> Ajouter une obligation
                    </a>
                    <a href="{{ path('obligation_index') }}" class="btn-sm btn btn-{% if route == 'obligation_index' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="list"></i> Liste des obligations
                    </a>
                    <a href="{{ path('obligation_situation') }}" class="btn-sm btn btn-{% if route == 'obligation_situation' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="package"></i> Situations sorties
                    </a>
                    <a href="{{ path('obligation_situation_non') }}" class="btn-sm btn btn-{% if route == 'obligation_situation_non' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="package"></i> Situations non sorties
                    </a>
                    <a href="#" class="btn-sm btn btn-{% if route == '#' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="loader"></i> Valorisation
                    </a>
                </div>        
            </div>        
        </div>
    </div>
</div>
