{% extends 'base.html.twig' %}

{% block title %}Edit Obligation{% endblock %}

{% block body %}
    <h1>Edit Obligation</h1>

    {{ include('obligation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('obligation_index') }}">back to list</a>

    {{ include('obligation/_delete_form.html.twig') }}
{% endblock %}
