{% extends "base.html.twig" %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <i data-feather="pie-chart"></i> {{title}}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row mt-2">

        {{ include('obligation/_menu.html.twig') }}
        
        <div class="col-md-9">
            <div class="row">
            </div>
        </div>
    </div>
{% endblock %}