{% extends 'base.html.twig' %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_obligation') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div align="right">
        <a href="{{ path('obligation_index') }}" class="btn btn-warning text-white" data-tooltip
         data-placement="top" title="Retour">
            <i data-feather="arrow-left-circle"></i> Retour 
        </a>
    </div>

    <div class="row mt-2">
        {{ include('obligation/_menu.html.twig') }}

        <div class="col-md-9">

            {{ include('default/filtre/filtre.html.twig') }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            <div class="row">
                {{ include('obligation/_index.html.twig') }}
            </div>
        </div>
    </div> 

{% endblock %}
