{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_obligation') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('obligation_index') }}">Liste des obligations</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h1> {{obligation.libelle}}</h1>
                    <h2> {{obligation.emetteur.nom}}
                        <a href="#" class="btn btn-warning">
                            Imprimer <i data-feather="printer"></i>
                        </a>
                        {{ include('obligation/_delete_form.html.twig') }}
                    </h2>
                </div>
                <div class="col-md">
                    <h2> 
                        Taux : {{obligation.interet }} ({{ obligation.interet * 100 }} %) / 
                        Durée : {{ obligation.duree }} ans
                    </h2>
                    <h2> Montant : {{obligation.montant|number_format(0, ' ', ' ')}} {{param.sym }}</h2>
                </div>
            </div>
        </div>
    </div>

    <div align="right">
        <a href="{{ path('obligation_index') }}" class="btn btn-warning text-white" data-tooltip
         data-placement="top" title="Retour">
            <i data-feather="arrow-left-circle"></i> Retour 
        </a>
    </div>
      
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th data-tooltip title="Période" scope="col">
                            Période
                        </th>
                        <th data-tooltip title="Capital début de période" scope="col">Capital début</th>
                        <th data-tooltip title="Intérêts" scope="col">Intérêts</th>
                        <th data-tooltip title="Amortissement" scope="col">Amortissement</th>
                        <th data-tooltip title="Annuités" scope="col">Annuités</th>
                        <th data-tooltip title="Capital fin de période" scope="col" colspan="2">Capital fin</th>
                    </tr>
                </thead>
                <tbody>
                    {% set interet = 0 %}
                    {% set amorti = 0 %}
                    {% set annuite = 0 %}
                    {% for row in obligation.amortissement.options %}
                        {% set interet = interet + row.interet %}
                        {% set amorti = amorti + row.amorti %}
                        {% set annuite = annuite + row.annuite %}
                        <tr>
                            <th scope="row">{{ row.periode }}</th>
                            <th>{{ row.capitalD|number_format(0, ' ', ' ') }}</th>
                            <th>{{ row.interet|number_format(0, ' ', ' ') }}</th>
                            <th>{{ row.amorti|number_format(0, ' ', ' ') }}</th>
                            <th>{{ row.annuite|number_format(0, ' ', ' ') }}</th>
                            <th>{{ row.capitalF|number_format(0, ' ', ' ') }}</th>
                            <th>
                                <a href="#" class="secondary" data-tooltip title="Versement">
                                    <i data-feather="layers"></i>
                                </a>
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row" colspan="2">TOTAL</th>
                        <th class="bg-success text-white">{{ interet|number_format(0, ' ', ' ') }}</th>
                        <th class="bg-success text-white">{{ amorti|number_format(0, ' ', ' ') }}</th>
                        <th class="bg-success text-white">{{ annuite|number_format(0, ' ', ' ') }}</th>
                        <th colspan="2" class="no-bordered"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}
