{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_obligation') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('obligation_index') }}">Liste des obligations</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
<style>
    .noir{
        background-color: #000;
        color: #fff;
    }
    .bd-callout {
        border-radius: 0.3rem;
        border-left: 3px solid orange;
    }
</style>
    
    <div class="row mt-2 container-fluid">
        <div class="col-md-4 jumbotron bd-callout d-flex align-items-center">
            <h2>Portefeuille obligations </h2>
            <h5 class="text-danger">Point de toutes nos obligations (non sorties) </h5>
        </div>
        <div class="col-md-7">
            {{ include('default/filtre/filtre.html.twig') }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

        </div>
        <div align="right col-md-1">
            <a href="{{ path('obligation_index') }}" class="btn btn-warning text-white" data-tooltip
            data-placement="top" title="Retour">
                <i data-feather="arrow-left-circle"></i> Retour 
            </a>
        </div>
    </div> 


<div class="container-fluid">
    <div class="mt-2">
        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead class="">
                    <tr>
                        <th data-tooltip title="Date" scope="col" class="noir"> DATE </th>
                        <th data-tooltip title="TITRE" scope="col" class="noir">TITRE</th>
                        <th data-tooltip title="MONTANT SOUSCRIT" scope="col" class="noir">MONTANT SOUSCRIT</th>
                        <th data-tooltip title="CAPITAL REMBOURSE" scope="col" colspan="2" class="bg-info text-white">CAPITAL REMBOURSE</th>
                        <th data-tooltip title="CAPITAL RESTANT" scope="col" colspan="2" class="bg-info text-white">CAPITAL RESTANT</th>
                        <th data-tooltip title="INTERETS PAYES" scope="col" colspan="2" class="bg-warning text-white">INTERETS PAYES</th>
                        <th data-tooltip title="INTERETS RESTANTS" scope="col" colspan="3" class="bg-warning text-white">INTERETS RESTANTS</th>
                    </tr>
                </thead>
                {% if obligations|length > 0 %}
                    <tbody>
                        
                        {% set totalmontant = 0 %}
                        {% set totalcapitalrembourse = 0 %}
                        {% set totalpercentrembourse = 0 %}
                        {% set totalcapitalrestant = 0 %}
                        {% set totalpercentcapitalrestant = 0 %}
                        {% set totalinteretspayes = 0 %}
                        {% set totalpercentpayes = 0 %}
                        {% set totalinteretsrestant = 0 %}
                        {% set totalpercentinteretrestant = 0 %}


                        {% set capitalrembourse = 0 %}
                        {% set percentrembourse = 0 %}
                        {% set capitalrestant = 0 %}
                        {% set percentcapitalrestant = 0 %}
                        {% set interetspayes = 0 %}
                        {% set percentpayes = 0 %}
                        {% set interetsrestant = 0 %}
                        {% set percentinteretrestant = 0 %}

                        {% for row in obligations %}
                            
                            {% set capitalrembourse = row.montant * row.interet %}
                            {% set percentrembourse = (capitalrembourse / row.montant) * 100 %}
                            {% set capitalrestant = row.montant - capitalrembourse %}
                            {% set percentcapitalrestant = (capitalrestant / row.montant) * 100 %}

                            {% set interetspayes = 75000000 %}
                            {% set percentpayes = (interetspayes / (row.montant * 0.05)) * 100 %}
                            {% set interetsrestant = (row.montant * 0.05) - interetspayes %}
                            {% set percentinteretrestant = (interetsrestant / (row.montant * 0.05)) * 100 %}

                            <tr>
                                <th scope="row">{{ row.date.format('d/m/Y') }}</th>
                                <th> {{ row.libelle }}</th>
                                <th>{{ row.montant|number_format(0, ' ', ' ') }}</th>
                                <th>{{ capitalrembourse|number_format(0, ' ', ' ') }}</th>
                                <th>{{ percentrembourse }}%</th>
                                <th>{{ capitalrestant|number_format(0, ' ', ' ') }}</th>
                                <th>{{ percentcapitalrestant }}%</th>
                                <th>{{ interetspayes|number_format(0, ' ', ' ') }}</th>
                                <th>{{ percentpayes }}%</th>
                                <th>{{ interetsrestant|number_format(0, ' ', ' ') }}</th>
                                <th>{{ percentinteretrestant }}%</th>
                                    <th>
                                    <a href="#" class="secondary" data-tooltip title="Versement">
                                        <i data-feather="layers"></i>
                                    </a>
                                </th>
                            </tr>

                            {% set totalmontant = totalmontant + row.montant %}
                            {% set totalcapitalrembourse = totalcapitalrembourse + capitalrembourse %}
                            {% set totalpercentrembourse = totalpercentrembourse + percentrembourse %}
                            {% set totalcapitalrestant = totalcapitalrestant + capitalrestant %}
                            {% set totalpercentcapitalrestant = totalpercentcapitalrestant + percentcapitalrestant %}
                            {% set totalinteretspayes = totalinteretspayes + interetspayes %}
                            {% set totalpercentpayes = totalpercentpayes + percentpayes %}
                            {% set totalinteretsrestant = totalinteretsrestant + interetsrestant %}
                            {% set totalpercentinteretrestant = totalpercentinteretrestant + percentinteretrestant %}
                        {% endfor %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="bg-secondary text-dark font-weight-lighter text-center" scope="row" colspan="2">TOTAL PORTEFEUILLE OBLIGATION</th>
                            <th class="bg-secondary text-light font-weight-bold">{{ totalmontant|number_format(0, ' ', ' ') }}</th>
                            <th class="bg-info text-white font-weight-bold">{{ totalcapitalrembourse|number_format(0, ' ', ' ') }}</th>
                            <th class="bg-info text-white font-weight-bold">{{ totalpercentrembourse / obligations|length }}%</th>
                            <th class="bg-info text-white font-weight-bold">{{ totalcapitalrestant|number_format(0, ' ', ' ') }}</th>
                            <th class="bg-info text-white font-weight-bold">{{ totalpercentcapitalrestant / obligations|length }}%</th>
                            <th class="bg-warning text-white font-weight-bold">{{ totalinteretspayes|number_format(0, ' ', ' ') }}</th>
                            <th class="bg-warning text-white font-weight-bold">{{ totalpercentpayes / obligations|length }}%</th>
                            <th class="bg-warning text-white font-weight-bold">{{ totalinteretsrestant|number_format(0, ' ', ' ') }}</th>
                            <th class="bg-warning text-white font-weight-bold" colspan="2">{{ totalpercentinteretrestant / obligations|length }}%</th>
                        </tr>
                    </tfoot>
                {% else %}
                    <tbody>
                        <tr class="text-center">
                            <td colspan="13" class="p-2">
                                Aucune donnée disponible <span style="font-size: 1.5rem;">😥</span>
                            </td>
                        </tr>
                    </tbody>
                {% endif %}

            </table>
        </div>
    </div>
    
</div>

{% endblock %}
