<div class="row">
    <div class="col-md-6">{{ form_row(form.name) }}</div>
    <div class="col-md-6">{{ form_row(form.description) }}</div>
    <div class="col-md-12">{{ form_row(form.seruredRoutes, {'label': 'Routes *'}) }}</div>
</div>