{% extends 'base.html.twig' %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_user') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row mt-2">
        {{ include('user/_menu.html.twig') }}

        <div class="col-md-9">

            {{ include('default/filtre/filtre.html.twig') }}
            
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <div align="right" class="mb-2">
                <a href="{{ path('role_new') }}" data-tooltip title="Ajouter" type="button" class="btn btn-info mb-2">
                    Ajouter <i data-feather="plus-circle"></i>
                </a>
            </div>
            
            <div class="card border-{{param.theme}}">
                <div class="card-header text-white bg-{{param.theme}}">
                    <h6>{{title}}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped dataTb">
                            <thead>
                                <tr>
                                    <th data-tooltip title="Libellé" scope="col">
                                        Libellé
                                    </th>
                                    <th data-tooltip title="Description" scope="col">
                                        Description
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for droit in droits %}
                                    <tr>
                                        <td>{{droit.name}}</td>
                                        <td>{{droit.description}}</td>
                                        <td>
                                            <a href="{{ path('role_edit', {'id': droit.id}) }}" class="text-info" data-tooltip data-placement="top" title="Modifier">
                                                <i data-feather="edit"></i>
                                            </a>
                                            <a class="text-danger" href="{{ path('role_delete', {'id': droit.id}) }}" data-tooltip data-placement="left" title="Supprimer">
                                                <i data-feather="trash-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
