
.exterix {
    color: red;
}

.alignmenu {
    text-align: left;
}

.line {
    display: flex;
}

#online {
    margin-top: 6px;
    margin-right: 4px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: green;
}
#offline {
    margin-top: 6px;
    margin-right: 4px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: red;
}