/* LOADER */
.loader{
	background: url('../../public/asset/ajax-loader.gif') 50% 50% no-repeat rgba(255, 255, 255, 0.8);
	/* background: #0000 50% 50% no-repeat rgba(255, 255, 255, 0.8); */
	cursor: wait;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.loader p{
    background: none;
    border: none;
    color: #458976;
    font-variant: small-caps;
    line-height: 700px;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}
