<div class="form-group row">
    <label for="{{ form.libelle.vars.id }}" class="col-sm-3 text-right">
        Libellé <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.libelle) }}
        <div class="form-error">{{ form_errors(form.libelle) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.description.vars.id }}" class="col-sm-3 text-right">
        Description
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.description) }}
        <div class="form-error">{{ form_errors(form.description) }}</div>
    </div>
</div>