{% extends "base.html.twig" %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_parametre') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row mt-2">

        {{ include('parametre/_menu.html.twig') }}
        
        <div class="col-md-9">

            {{ include('default/filtre/filtre.html.twig') }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            {% if annees|length == 0 %}
                <div align="right">
                    <a href="{{ path('annee_new') }}" data-tooltip title="Ajouter" type="button" class="btn btn-info mb-2">
                        Ajouter <i data-feather="plus-circle"></i>
                    </a>
                <div>
            {% endif %}
            <div class="row">
                <div class="col-md">
                    <div class="card border-{{param.theme}}">
                        <div class="card-header text-white bg-{{param.theme}}">
                            <h6>{{title}}</h6>
                        </div>
                        <div class="card-body">  
                            <div class="table-responsive">
                                <table class="table table-striped dataTb">
                                    <thead>
                                        <tr>
                                            <th data-tooltip title="Libellé" scope="col">
                                                Libellé
                                            </th>
                                            <th data-tooltip title="Description" scope="col">Description </th>
                                            <th data-tooltip title="Etat" scope="col">Etat </th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for annee in annees %}
                                            <tr>
                                                <th scope="row">
                                                    <a href="{{ path('annee_show', {'id': annee.id}) }}" title="Détail">
                                                        {{annee.libelle}}
                                                    </a>
                                                </th>
                                                <td>{{annee.description}}</td>
                                                <td>
                                                    {% if annee.etat == 'ACTIF' %}
                                                        {{annee.etat|label({'color': 'success', 'rounded': true, 'class': 'size'})}}
                                                    {% else %}
                                                        {{annee.etat|label({'color': 'warning', 'rounded': true, 'class': 'size'})}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ path('annee_show', {'id': annee.id}) }}" class="secondary" data-tooltip data-placement="top" title="Détail">
                                                        <i data-feather="file-minus"></i>
                                                    </a>
                                                    <a href="{{ path('annee_edit', {'id': annee.id}) }}" class="text-info" data-tooltip data-placement="top" title="Modifier">
                                                        <i data-feather="edit"></i>
                                                    </a>
                                                    <a class="text-danger" href="{{ path('annee_delete', {'id': annee.id}) }}" data-tooltip data-placement="left" title="Supprimer">
                                                        <i data-feather="trash-2"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}