{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_parametre') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('annee_index') }}">Liste des années</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1> {{annee.libelle}}</h1>
                    <h2>
                        <a href="{{ path('annee_edit', {'id': annee.id}) }}" class="btn btn-info">
                            Modifier <i data-feather="edit"></i>
                        </a>
                        {{ include('annee/_delete_form.html.twig') }}
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div align="right">
        <a href="{{ path('annee_index') }}" class="btn btn-warning text-white" data-tooltip
         data-placement="top" title="Retour">
            <i data-feather="arrow-left-circle"></i> Retour 
        </a>
    </div>

    <div class="container mt-2">
        <div class="tab-content" id="pills-tabContent">
            <div class="row">
                <div class="col-md">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold">Année budgétaire</td>
                            <td>{{annee.libelle}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Contact</td>
                            <td>{{annee.description}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Etat</td>
                            <td>
                                {% if annee.etat == 'ACTIF' %}
                                    {{annee.etat|label({'color': 'success', 'rounded': true, 'class': 'size'})}}
                                {% else %}
                                    {{annee.etat|label({'color': 'warning', 'rounded': true, 'class': 'size'})}}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold">Crée le</td>
                            <td>
                                {{ annee.createdAt ?
                                    annee.createdAt|date("d M Y hh:mm") : ''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Modifié le</td>
                            <td>
                                {{ annee.updatedAt ?
                                    annee.updatedAt|date("d M Y hh:mm") : ''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Crée par</td>
                            <td>{{ annee.createBy ? annee.createBy.__toString : ''}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Modifié par</td>
                            <td>{{ annee.updateBy ? annee.updateBy.__toString : ''}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
