{% set route = app.request.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> .:: {{param.general ? param.general.societe : 'SGPP'}} | {% block title %} {% endblock %} ::.</title>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="loader">
            <p>Veuillez patientez...</p>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                {% if param.general and param.general.logoName %}
                    <img width="50" height="30" src="{{vich_uploader_asset(param.general, 'logoFile') }}"/>                               
                {% else %}
                    <i data-feather="image"></i>
                {% endif %}
                {{param.general ? param.general.societe : 'SGPP'}}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if route == 'home_obligation' or route == 'obligation_new' or
                         route == 'obligation_index' or route == 'obligation_show' or route == 'obligation_edit' %}active{% endif %}" data-toggle="dropdown" href="#"
                         role="button" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="archive"></i> Obligation
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item {% if route == 'home_obligation' %}active{% endif %}" href="{{ path('home_obligation') }}">
                                <i data-feather="pie-chart"></i> Tableau de bord
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item {% if route == 'obligation_new' %}active{% endif %}" href="{{ path('obligation_new') }}">
                                <i data-feather="plus-circle"></i> Ajouter une obligation
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item {% if route == 'obligation_index' %}active{% endif %}" href="{{ path('obligation_index') }}">
                                <i data-feather="list"></i> Liste des obligations
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item {% if route == 'obligation_situation' %}active{% endif %}" href="{{ path('obligation_situation') }}">
                                <i data-feather="package"></i> Situation
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item {% if route == '#' %}active{% endif %}" href="{{ path('obligation_index') }}">
                                <i data-feather="loader"></i> Valorisation
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                         role="button" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="book-open"></i> Action
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item {% if route == 'home_action' %}active{% endif %}" href="{{ path('home_action') }}">
                                <i data-feather="pie-chart"></i> Tableau de bord
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item {% if route == 'action_new' %}active{% endif %}" href="{{ path('action_new') }}">
                                <i data-feather="plus-circle"></i> Ajouter une action
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item {% if route == 'action_index' %}active{% endif %}" href="{{ path('action_index') }}">
                                <i data-feather="list"></i> Liste des actions
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item {% if route == '#' %}active{% endif %}" href="{{ path('action_index') }}">
                                <i data-feather="package"></i> Situation
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item {% if route == '#' %}active{% endif %}" href="{{ path('action_index') }}">
                                <i data-feather="loader"></i> Valorisation
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                         role="button" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="clipboard"></i> OPCVM
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link {% if route == 'home_user' or route == 'home_user' or
                         route == 'service_new' or route =='service_index' or route == 'role_new' or
                          route == 'role_index' or route == 'route_index'%}active{% endif %}"  href="{{ path('home_user') }}">
                            <i data-feather="users"></i> Utilisateur
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if route == 'home_parametre' or route == 'sgi_index' or
                         route == 'sgi_new' or route == 'annee_new' or route == 'annee_index' %}active{% endif %}" href="{{ path('home_parametre') }}" data-tooltip title="Paramètres de configuration">
                            <i data-feather="tool"></i>
                        </a>
                    </li>
                    <li class="nav-item avatar dropdown">
                        <a class="nav-link {% if route == 'user_profil' or route == 'forgot_password_user' %}active{% endif %}" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i data-feather="user"></i>
                            {{app.user ? app.user.__toString : ''}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item {% if route == 'user_profil' %}active{% endif %}" href="{{ path('user_profil') }}">
                                <i data-feather="user"></i> Mon profil
                            </a>
                            <a class="dropdown-item {% if route == 'forgot_password_user' %}active{% endif %}" href="{{ path('forgot_password_user', {id: app.user.id}) }}">
                                <i data-feather="key"></i> Modifier votre mot de passe
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#exampleModal" data-tooltip
                            class=" nav-link" href="#" title="Se déconnecter">
                            <i data-feather="power"></i> 
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid mb-5 mt-2">
            {% block breadcrumb %}{% endblock %}
            {% block body %}
            {% endblock %}
        </div>

        <!-- MODAL DE DECONNEXION -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Confirmer votre déconnexion ?
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <button style="width: 100%" type="button" class="btn btn-primary"
                                     data-dismiss="modal">
                                        Annuler <i data-feather="x-circle"></i>
                                    </button>
                                </div>
                                <div class="col-sm">
                                    <a style="width: 100%" href="{{ path('logout') }}" class="btn btn-danger">
                                        Se déconnecter <i data-feather="power"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
