{% extends 'base.html.twig' %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- WIDGET MONTANTS -->
            <div class="row">
                <div class="col-md-3">
                    <div class="card border-success">
                        <div class="card-header bg-success text-white">
                            <h6 class="card-title" data-tooltip title="Approvisionnement éfféctués ce mois">
                                Approvisionnement : {{4000000|number_format(0, ' ', ' ')}} {{param.sym}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-info">
                        <div class="card-header bg-info text-white">
                            <h6 class="card-title" data-tooltip title="Facture d'ouverture de dossier éfféctués ce mois">
                                Facture dossier : {{400000|number_format(0, ' ', ' ')}} {{param.sym}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-secondary">
                        <div class="card-header bg-secondary text-white">
                            <h6 class="card-title" data-tooltip title="Facture d'ouverture de mandat de recherche éfféctués ce mois">
                                Facture mandat : {{200000|number_format(0, ' ', ' ')}} {{param.sym}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-warning">
                        <div class="card-header bg-warning text-white">
                            <h6 class="card-title" data-tooltip title="Montant total à reversé au propriétaire">
                                Montant à reverser : {{100000|number_format(0, ' ', ' ')}} {{param.sym}}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-{{param.theme}}"/>
            <!-- WIDGET NOMBRES -->
            <div class="row">
                <div class="col-md-3">
                    <div class="card border-dark">
                        <div class="card-header bg-dark text-white">
                            <h6 class="card-title" data-tooltip title="Nombre total de clients">
                                Client : 1
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-secondary">
                        <div class="card-header bg-secondary text-white">
                            <h6 class="card-title" data-tooltip title="Nombre total de biens">
                                Bien :3
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-primary">
                        <div class="card-header bg-primary text-white">
                            <h6 class="card-title" data-tooltip title="Nombre total de proprietaires">
                                Proprietaire : 2
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-info">
                        <div class="card-header bg-info text-white">
                            <h6 class="card-title" data-tooltip title="Nombre total de compte et caisse">
                                Compte : 1
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-{{param.theme}}"/>

            <div align="right">
                <button data-tooltip title="Imprimer" type="button" class="btn btn-warning mb-2">
                    <i data-feather="printer"></i>
                </button>
                <button data-tooltip title="Ajouter" type="button" class="btn btn-info mb-2">
                    Ajouter <i data-feather="plus-circle"></i>
                </button>
            <div>
            
            <div class="card border-{{param.theme}}">
                <div class="card-header border-{{param.theme}} bg-{{param.theme}} text-white">
                    Liste des utilisateurs
                </div>
                <div class="card-body">
                    <div class="table-responsive mt-2">
                        <table class="table table-striped dataTb">
                            <thead>
                                <tr>
                                    <th data-tooltip title="titre" scope="col">
                                        N°
                                    </th>
                                    <th data-tooltip title="titre" scope="col">
                                        N° ACD
                                    </th>
                                    <th data-tooltip title="titre" scope="col">Montant </th>
                                    <th data-tooltip title="titre" scope="col">Etat </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <a href="#" title="Détail">#</a>
                                    </th>
                                    <td>Moi</td>
                                    <td>Anicet</td>
                                    <td>Gnahoua</td>
                                    <td>
                                        <a href="#" class="secondary" data-tooltip data-placement="top" title="Détail">
                                            <i data-feather="file-minus"></i>
                                        </a>
                                        <a href="#" class="text-info" data-tooltip data-placement="top" title="Modifier">
                                            <i data-feather="edit"></i>
                                        </a>
                                        <a target="_blank" href="#" class="text-warning" data-tooltip data-placement="left" title="Imprimer">
                                            <i data-feather="printer"></i>
                                        </a>
                                        <a class="text-danger" href="#" data-tooltip data-placement="left" title="Supprimer">
                                            <i data-feather="trash-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}

{% block javascripts %}{% endblock %}
