<div class="form-group row">
    <label for="{{ form.nom.vars.id }}" class="col-sm-3 text-right">
        Nom <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.nom) }}
        <div class="form-error">{{ form_errors(form.nom) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.entite.vars.id }}" class="col-sm-3 text-right">
        Entité <span class="exterix">*</span>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.entite) }}
        <div class="form-error">{{ form_errors(form.entite) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.contact.vars.id }}" class="col-sm-3 text-right">
        Contact
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.contact) }}
        <div class="form-error">{{ form_errors(form.contact) }}</div>
    </div>
</div>
<div class="form-group row">
    <label for="{{ form.email.vars.id }}" class="col-sm-3 text-right">
        E-mail
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.email) }}
        <div class="form-error">{{ form_errors(form.email) }}</div>
    </div>
</div>