{% extends "base.html.twig" %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_parametre') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row mt-2">

        {{ include('parametre/_menu.html.twig') }}
        
        <div class="col-md-9">

            {{ include('default/filtre/filtre.html.twig') }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            <div align="right">
                <a href="{{ path('emetteur_new') }}" data-tooltip title="Ajouter" type="button" class="btn btn-info mb-2">
                    Ajouter <i data-feather="plus-circle"></i>
                </a>
            <div>
            <div class="row">
                <div class="col-md">
                    <div class="card border-{{param.theme}}">
                        <div class="card-header text-white bg-{{param.theme}}">
                            <h6>{{title}}</h6>
                        </div>
                        <div class="card-body">  
                            <div class="table-responsive">
                                <table class="table table-striped dataTb">
                                    <thead>
                                        <tr>
                                            <th data-tooltip title="Nom" scope="col">
                                                Nom
                                            </th>
                                            <th data-tooltip title="Entité" scope="col">Entité </th>
                                            <th data-tooltip title="Contact" scope="col">Contact </th>
                                            <th data-tooltip title="E-mail" scope="col">E-mail </th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for emetteur in emetteurs %}
                                            <tr>
                                                <th scope="row">
                                                    <a href="{{ path('emetteur_show', {'id': emetteur.id}) }}" title="Détail">
                                                        {{emetteur.nom}}
                                                    </a>
                                                </th>
                                                <td>{{emetteur.entite|label({'rounded': true, 'class': 'size'})}}</td>
                                                <td>
                                                    {{emetteur.contact ? emetteur.contact|label({'color': 'info', 'rounded': true, 'class': 'size'}) : ''}} 
                                                    <i data-feather="{{emetteur.contact ? 'phone' : 'phone-off' }}"></i>
                                                </td>
                                                <td>{{emetteur.email}}</td>
                                                <td>
                                                    <a href="{{ path('emetteur_show', {'id': emetteur.id}) }}" class="secondary" data-tooltip data-placement="top" title="Détail">
                                                        <i data-feather="file-minus"></i>
                                                    </a>
                                                    <a href="{{ path('emetteur_edit', {'id': emetteur.id}) }}" class="text-info" data-tooltip data-placement="top" title="Modifier">
                                                        <i data-feather="edit"></i>
                                                    </a>
                                                    <a class="text-danger" href="{{ path('emetteur_delete', {'id': emetteur.id}) }}" data-tooltip data-placement="left" title="Supprimer">
                                                        <i data-feather="trash-2"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}