{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_parametre') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('emetteur_index') }}">Liste des emetteurs</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1> {{emetteur.nom}}</h1>
                    <h2> {{emetteur.contact}} <i data-feather="{{emetteur.contact ? 'phone' : 'phone-off' }}"></i>
                        <a href="{{ path('emetteur_edit', {'id': emetteur.id}) }}" class="btn btn-info">
                            Modifier <i data-feather="edit"></i>
                        </a>
                        {{ include('emetteur/_delete_form.html.twig') }}
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div align="right">
        <a href="{{ path('emetteur_index') }}" class="btn btn-warning text-white" data-tooltip
         data-placement="top" title="Retour">
            <i data-feather="arrow-left-circle"></i> Retour 
        </a>
    </div>

    <div class="container mt-2">
        <div class="tab-content" id="pills-tabContent">
            <div class="row">
                <div class="col-md">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold">Nom</td>
                            <td>{{emetteur.nom}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Entité</td>
                            <td>{{emetteur.entite}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Contact</td>
                            <td>{{emetteur.contact}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">E-mail</td>
                            <td>{{emetteur.email}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold">Crée le</td>
                            <td>
                                {{ emetteur.createdAt ?
                                    emetteur.createdAt|date("d M Y hh:mm") : ''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Modifié le</td>
                            <td>
                                {{ emetteur.updatedAt ?
                                    emetteur.updatedAt|date("d M Y hh:mm") : ''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Crée par</td>
                            <td>{{ emetteur.createBy ? emetteur.createBy.__toString : ''}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Modifié par</td>
                            <td>{{ emetteur.updateBy ? emetteur.updateBy.__toString : ''}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
