{% extends "bundles/TwigBundle/Exception/layout.html.twig" %}

{% block title %} {{ status_code }} {% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="text-danger display-1" align="center">
            {{ status_code }} <i data-feather="alert-triangle"></i>
        </h1>
        <h4 class="text-danger" align="center">Désolé ! {{ status_text }}.</h4>
    </div>
{% endblock %}
