{% extends "bundles/TwigBundle/Exception/layout.html.twig" %}

{% block title %} {{ status_code }} {% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="text-danger display-1" align="center">
            {{ status_code }} <i data-feather="alert-triangle"></i>
        </h1>
        <h4 class="text-danger" align="center">Désolé ! cette route n'existe pas.</h4>
        <div class="mt-4" align="center">
            <a align="center" href="{{path('login')}}" class="btn btn-{{param.theme}}">
                <i data-feather="arrow-left-circle"></i> Retournez à la page de connexion
            </a>
        </div>
    </div>
{% endblock %}
