<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> .::  {{param.general ? param.general.societe : 'SGPP'}} | {% block title %} ::.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- favicon -->
        <meta name="description" content="">
        <meta name="author" content="">
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') | replace({'src=': 'defer src='}) | raw }}
        {% block stylesheets %}{% endblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body class="bg-white">
        <div class="container mb-5 mt-5">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
