<div class="row">
    <div class="col-md-3">{{ form_row(form.nom) }}</div>
    <div class="col-md-3">{{ form_row(form.prenom) }}</div>
    <div class="col-md-3">{{ form_row(form.dateN) }}</div>
    <div class="col-md-3">{{ form_row(form.contact) }}</div>
</div>
<div class="row">
    <div class="col-md-3">{{ form_row(form.service) }}</div>
    <div class="col-md-3">{{ form_row(form.fonction) }}</div>
</div>
<h4>
    <span class="badge badge-{{param.theme}}" style="width: 100%">
        PARAMETRE DE CONNEXION
    </span>
</h4>
<div class="row">
    <div class="col-md-4">{{ form_row(form.username) }}</div>
    <div class="col-md-4">{{ form_row(form.email) }}</div>
    <div class="col-md-4">{{ form_row(form.password) }}</div>
    <div class="col-md-4">{{ form_row(form.groupe) }}</div>
    <div class="col-md-4">{{ form_row(form.userRoles) }}</div>
    <div class="col-md-4">
        {% do form.imageFile.setRendered() %} <input type="file" id="{{ form.imageFile.vars.id }}"
        name="{{form.imageFile.vars.full_name}}" is="drop-files" label="Déposez votre photo"
        help="Seul une est autorisé jpeg/png">
        <div class="form-error">
            {{ form_errors(form.imageFile) }}
        </div>
    </div>
</div>