<div class="table-responsive">
    <table class="table table-striped dataTb">
        <thead>
            <tr>
                <th data-tooltip title="Photo" scope="col"></th>
                <th data-tooltip title="Nom et prénoms" scope="col">
                    Nom et prénoms
                </th>
                <th data-tooltip title="Login" scope="col">Login </th>
                <th data-tooltip title="E-mail" scope="col">E-mail </th>
                <th data-tooltip title="Contact" scope="col">Contact </th>
                {% if connecte is not defined %}
                    <th data-tooltip title="Rôle" scope="col">Rôle </th>
                {% endif %}
                {% if connecte is not defined %}  
                    <th data-tooltip title="Dernière connexion" scope="col">Dernière connexion</th>
                {% endif %}
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">
                        {% if user.imageName %}
                            <img class="rounded-circle" width="40" height="40" src="{{vich_uploader_asset(user, 'imageFile') }}"/>
                        {% else %}
                            <img class="rounded-circle" width="40" height="40" src="{{asset('uploads/empty.jpg') }}"/>
                        {% endif %}
                    </th>
                    <th scope="row">
                        <a href="{{ path('user_show', {'id': user.id}) }}" title="Détail">
                            {{user.__toString}}
                        </a>
                        {% if connecte is not defined %}
                            <div class="line">
                                <div id="{{ user.isOnline ? "online" : "offline" }}"></div> 
                                {{ user.isOnline ? "En ligne" : "Hors ligne" }} 
                            </div>
                        {% endif %}
                    </th>
                    <td>{{ user.username | label({'rounded': true, 'class': 'size'}) }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {{ user.contact | label({'color': 'info', 'rounded': true, 'class': 'size'}) }}
                    </td>
                    {% if connecte is not defined %}
                        <td>
                            {% for item in user.userRoles %}
                                {{ item.name }}
                            {% endfor %}
                        </td>
                    {% endif %}
                    {% if connecte is not defined %}
                        <td>{{ user.lastlogin |date("d M Y à hh:mm")}}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}" class="secondary" data-tooltip data-placement="top" title="Détail">
                            <i data-feather="file-minus"></i>
                        </a>
                        {% if connecte is defined and connecte == false %}
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="text-info" data-tooltip data-placement="top" title="Modifier">
                                <i data-feather="edit"></i>
                            </a>
                            <a class="text-danger" href="{{ path('user_delete', {'id': user.id}) }}" data-tooltip data-placement="left" title="Supprimer">
                                <i data-feather="trash-2"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>