<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% if user.imageName %}
                    <img class="rounded-circle" width="100%" height="150" src="{{vich_uploader_asset(user, 'imageFile') }}"/>
                {% else %}
                    <img class="rounded-circle" width="100%" height="150" src="{{asset('uploads/empty.jpg') }}"/>
                {% endif %}
            </div>
            <div class="col-md-10">
                <h1> {{user.nom}} {{user.prenom}} - {{user.code}}</h1>
                <h2> {{user.contact}} <i data-feather="phone"></i>
                    <a href="{% if user.id != app.user.id %}{{ path('user_edit', {'id': user.id}) }}{% else %}{{ path('user_edit_profil', {'id': app.user.id}) }}{% endif %}" class="btn btn-info">
                        Modifier <i data-feather="edit"></i>
                    </a>
                    <a href="{% if user.id != app.user.id %}{{ path('reset_password', {'id': user.id}) }}{% else %}{{ path('forgot_password_user', {'id': app.user.id}) }}{% endif %}" class="btn btn-warning">
                        {{ user.id != app.user.id ? 'Réinitiliser son mot de passe' : 'Changer mon mot de passe' }} <i data-feather="key"></i>
                    </a>
                    {{ include('user/_delete_form.html.twig') }}
                </h2>
            </div>
        </div>
    </div>
</div>