<div class="col-md-3">
    <div class="card border-{{param.theme}}">
        <div class="card-body">
            <h5 class="card-title" align="center">Utilisateur <i data-feather="users"></i></h5>
            <div class="sidebar">
                <div class="list-group">
                    <a href="{{ path('user_new') }}" class="btn-sm btn btn-{% if route == 'user_new' %}outline-{% endif %}{{param.theme}} alignmenu">
                        <i data-feather="plus-circle"></i> Ajouter un utilisateur
                    </a>
                    <a href="{{ path('user_index') }}" class="btn-sm btn btn-{% if route == 'user_index' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="list"></i> Liste des utilisateurs
                    </a>
                </div>        
            </div>        
        </div>
    </div>
    <div class="card border-{{param.theme}} mt-2">
        <div class="card-body">
            <h5 class="card-title" align="center">Service <i data-feather="briefcase"></i></h5>
            <div class="sidebar">
                <div class="list-group">
                    <a href="{{ path('service_new') }}" class="btn-sm btn btn-{% if route == 'service_new' %}outline-{% endif %}{{param.theme}} alignmenu">
                        <i data-feather="plus-circle"></i> Ajouter un nouveau service
                    </a>
                    <a href="{{ path('service_index') }}" class="btn-sm btn btn-{% if route == 'service_index' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="list"></i> Liste des services
                    </a>
                </div>        
            </div>        
        </div>
    </div>
    <div class="card border-{{param.theme}} mt-2">
        <div class="card-body">
            <h5 class="card-title" align="center">Groupes d'accès <i data-feather="command"></i></h5>
            <div class="sidebar">
                <div class="list-group">
                    <a href="{{ path('role_new') }}" class="btn-sm btn btn-{% if route == 'role_new' %}outline-{% endif %}{{param.theme}} alignmenu">
                        <i data-feather="plus-circle"></i> Ajouter un groupe d'accès
                    </a>
                    <a href="{{ path('role_index') }}" class="btn-sm btn btn-{% if route == 'role_index' %}outline-{% endif %}{{param.theme}} mt-1 alignmenu">
                        <i data-feather="list"></i> Liste des groupes d'accès
                    </a>
                </div>        
            </div>        
        </div>
    </div>
    <div class="card border-{{param.theme}} mt-2">
        <div class="card-body">
            <h5 class="card-title" align="center">Routes <i data-feather="git-commit"></i></h5>
            <div class="sidebar">
                <div class="list-group">
                    <a href="{{path('route_index')  }}" class="btn-sm btn btn-{% if route == 'route_index' %}outline-{% endif %}{{param.theme}} alignmenu">
                        <i data-feather="list"></i> Liste des routes
                    </a>
                </div>        
            </div>        
        </div>
    </div>
</div>
