{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_user') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('user_index') }}">Liste des utilisateurs</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div align="right">
        <a href="{{ path('user_index') }}" class="btn btn-warning text-white" data-tooltip
         data-placement="top" title="Retour">
            <i data-feather="arrow-left-circle"></i> Retour 
        </a>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            {{form_start(form)}}
                <div class="card border-{{param.theme}}">
                    <div class="card-header border-{{param.theme}}">
                        <h4>{{ title }} </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">{{ form_row(form.nom) }}</div>
                            <div class="col-md-3">{{ form_row(form.prenom) }}</div>
                            <div class="col-md-3">{{ form_row(form.username) }}</div>
                            <div class="col-md-3">{{ form_row(form.email) }}</div>
                            <div class="col-md-3">{{ form_row(form.dateN) }}</div>
                            <div class="col-md-3">{{ form_row(form.contact) }}</div>
                            <div class="col-md-3">{{ form_row(form.fonction) }}</div>                            
                            <div class="col-md-3">{{ form_row(form.service) }}</div>
                            {% if form.groupe is defined %}
                                <div class="col-md-3">{{ form_row(form.groupe) }}</div>
                            {% endif %}
                            {% if form.userRoles is defined %}
                                <div class="col-md-3">{{ form_row(form.userRoles) }}</div>
                            {% endif %}
                            <div class="col-md-3">
                                {% do form.imageFile.setRendered() %} <input type="file" id="{{ form.imageFile.vars.id }}"
                                name="{{form.imageFile.vars.full_name}}" is="drop-files" label="Déposez votre photo"
                                help="Seul une est autorisé jpeg/png">
                                <div class="form-error">
                                    {{ form_errors(form.imageFile) }}
                                </div>
                            </div>
                        </div>
                        
                        {{ form_rest(form) }}
                        <p style="text-align:right;color:red;font-size:12px;">L'astérisque signifie que le champ à renseigner est obligatoire (✱) </p>                      
                    </div>
                </div>
                <button class="btn btn-{{param.theme}} mt-2 float-right">
                    {{button|default('Modifier')}} <i data-feather="edit"></i>
                </button>
            {{form_end(form)}}
        </div>
    </div>

{% endblock %}
