{% extends "base.html.twig" %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <i data-feather="pie-chart"></i> {{title}}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row mt-2">

        {{ include('user/_menu.html.twig') }}
        
        <div class="col-md-9">
            <div class="row">
                {# UTILISATEUR CONNECTE #}
                <div class="col-md">
                    <div class="card border-{{param.theme}}">
                        <div class="card-header text-white bg-{{param.theme}}">
                            <h6>Liste des utilisateurs connectés</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">  
                                    {{ include('user/_index.html.twig') }}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}