{% extends "base.html.twig" %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_user') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row mt-2">

        {{ include('user/_menu.html.twig') }}
        
        <div class="col-md-9">

            {{ include('default/filtre/filtre.html.twig') }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            <div align="right">
                <a href="#" data-tooltip title="Imprimer" type="button" class="btn btn-warning mb-2">
                    <i data-feather="printer"></i>
                </a>
                <a href="{{ path('user_new') }}" data-tooltip title="Ajouter" type="button" class="btn btn-info mb-2">
                    Ajouter <i data-feather="plus-circle"></i>
                </a>
            <div>
            <div class="row">
                <div class="col-md">
                    <div class="card border-{{param.theme}}">
                        <div class="card-header text-white bg-{{param.theme}}">
                            <h6>{{title}}</h6>
                        </div>
                        <div class="card-body">  
                            {{ include('user/_index.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}