{% extends 'base.html.twig' %}
{% block title %} Mon profil {{user.__toString}} {% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('homepage') }}">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('home_user') }}">
                    <i data-feather="pie-chart"></i> Tableau de bord
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('user_index') }}">Liste des utilisateurs</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Mon profil {{user.__toString}}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}

    {{ include('user/_jumbotron.html.twig') }}

    <div align="right">
        <a href="{{ path('user_index') }}" class="btn btn-warning text-white" data-tooltip
         data-placement="top" title="Retour">
            <i data-feather="arrow-left-circle"></i> Retour 
        </a>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
            <strong>{{ message }}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="container mt-2">
        <div class="tab-content" id="pills-tabContent">
            <div class="row">
                <div class="col-md">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold">Code</td>
                            <td>{{user.code}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Nom</td>
                            <td>{{user.nom}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Prénoms</td>
                            <td>{{user.prenom}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Login</td>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">E-mail</td>
                            <td>{{user.email}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold">Contact</td>
                            <td>{{user.contact}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Domaine d'activité</td>
                            <td>{{user.fonction}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Service</td>
                            <td>{{user.service ? user.service.libelle: ''}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Date de naissance</td>
                            <td>
                                {{ user.dateN ?
                                    user.dateN|date("d M Y hh:mm") : ''}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold">Crée le</td>
                            <td>
                                {{ user.createdAt ?
                                    user.createdAt|date("d M Y hh:mm") : ''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Modifié le</td>
                            <td>
                                {{ user.updatedAt ?
                                    user.updatedAt|date("d M Y hh:mm") : ''}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Crée par</td>
                            <td>{{ user.createBy ? user.createBy.__toString : ''}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Modifié par</td>
                            <td>{{ user.updateBy ? user.updateBy.__toString : ''}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
